{% extends "layout/base.html" %}

{% block site_wrapper %}
	<div id="first_content_block" class="container">
		<h1 class="sideoverflow">Nosotros</h1>
		<div class="half column first">
			<p>Fundación Que Transforma es una asociación civil sin fines de lucro, constituida en febrero de 2008, en la ciudad de Tijuana. Surge de una problemática social a raíz de la carencia del servicio público de recolección de basura en varias colonias de la ciudad. Esta situación evidenció la necesidad de promover la participación ciudadana en temas de conservación del medio ambiente, desde una perspectiva de cultura urbana, con el objetivo de contribuir al desarrollo sustentable de Tijuana, de Baja California y de México. </p>
			<p>Esta iniciativa nace en noviembre de 2007 cuando Daniela Sepúlveda  Ruiz, fundadora de Fundación que Transforma A.C., se convence de la importancia de involucrar a los distintos sectores de la población para resolver los problemas que enfrenta la ciudad de Tijuana, muchos de ellos a causa de la desinformación y la falta de educación en temas de medio ambiente, aprovechamiento de los recursos y la disposición correcta de residuos generados desde las casas, escuelas y/o oficinas.</p>

			<p>Fue así como un grupo de 10 jóvenes de la Universidad Pedagógica Nacional campus Tijuana y CECYT Universidad, se identificó con la idea de empezar a transformar las condiciones de los espacios educativos, llevando  a escuelas públicas, de nivel básico (preescolar, primaria y secundaria), talleres de cultura y educación ambiental denominado “Reciclases”. Siendo éste el primer programa formal que Fundación Que Transforma logró implementar.</p>

			<p>Estos programas permitieron que tanto universitarios como estudiantes de educación básica, tuvieran acceso a información sobre medio ambiente dentro de sus espacios de formación. </p>

			<p>El resultado de estas actividades se ve reflejado en la divulgación de información sobre cultura urbana, medio ambiente y desarrollo sustentable.</p>
		</div><div class="half column">
			<p>Desde entonces, estudiantes universitarios han tenido la oportunidad de adquirir conocimientos y experiencia, frente a grupo, realizando su servicio social y prácticas profesionales. La práctica frente a grupo les ha permitido abrirse espacio en el campo laboral creando la necesidad de su permanencia en las escuelas, de esta forma Fundación que Transforma no sólo forma ciudadanos conscientes, sino que contribuye a la empleabilidad de recién egresados. En su mayoría futuros maestros.</p>
			<div id="slideshow_nosotros">
		        <img src="/static/media/banner_nosotros/principal1.jpg" alt="banner position holder" />
	          	<img src="/static/media/banner_nosotros/principal2.jpg" alt="Nosotros" class="hide"/>
	          	<img src="/static/media/banner_nosotros/principal3.jpg" alt="Nosotros" class="hide"/>
	          	<img src="/static/media/banner_nosotros/principal4.jpg" alt="Nosotros" class="hide"/>
	          	<img src="/static/media/banner_nosotros/principal5.jpg" alt="Nosotros" class="hide"/>
			</div>
		</div>

		<div class="half column first">
			<h2 class="purple_text" id="mision">Misión</h2>
			<p>Promover y fomentar una cultura urbana proactiva enfocada al medio ambiente en niños y jóvenes a través de programas formativos.</p>
		</div><div class="half column">
			<h2  class="purple_text" id="vision">Visión</h2>
			<p>Ser una fundación autofinanciable y de prestigio; líder en procurar el desarrollo sustentable en México a través de la educación.</p>
		</div>
		<h2 class="purple_text sideoverflow" id="objetivos">Objetivos</h2>
		<div class="half column collapse first">
			<ul class="purple_list">
				<li><span>Promover una cultura urbana proactiva enfocada al medio ambiente y desarrollo sustentable a través de diversos programas formativos, todos ellos lúdicos, donde se cree conciencia sobre la importancia de la participación ciudadana que mejore la calidad de vida de todos.</span></li>
				<li><span>Difundir información oportuna sobre programas y actividades que se realizan en Fundación que Transforma y otros proyectos que tengan impacto comunitario y formativo con el enfoque de sustentabilidad.</span></li>
				<li><span>Realizar proyectos y programas que promuevan una cultura urbana proactiva, que fomenten el sentido de respeto, que permitan la sana convivencia entre los integrantes de la comunidad y generen las condiciones para una sociedad con una mejor calidad de vida.</span></li>
			</ul>
		</div><div class="half column collapse">
			<ul class="purple_list">
				<li><span>Desarrollar material didáctico de cultura urbana, medio ambiente, aprovechamiento de recursos, disposición correcta de residuos y sustentabilidad.</span></li>
				<li><span>Realizar proyectos que permitan la sostenibilidad de la organización a mediano y largo plazo.</span></li>
			</ul>
		</div>
		<h2 class="purple_text sideoverflow" id="valores">Valores</h2>
		<div class="half column collapse first">
			<ul class="purple_list">
				<li><span><strong>Respeto</strong>Por nosotros mismos, por la sociedad, por el medio ambiente y por el mundo.</span></li>
				<li><span><strong>Responsabilidad</strong>Social, económica, con nuestro tiempo y nuestras obligaciones como ciudadanos.</span></li>
			</ul>
		</div><div class="half column collapse">
			<ul class="purple_list">
				<li><span><strong>Compromiso</strong>Por el cuidado de nuestro entorno y la procuración de un mejor futuro.</span></li>
				<li><span><strong>Solidaridad</strong>Para aprender a trabajar en equipo, lograr un fin común y generar un cambio considerable.</span></li>
			</ul>
		</div>
	</div>
	<div class="dark_aqua_background">
		<hr class="gradient_line" />
		<div class="container">
			<h2 id="nuestro-equipo">Nuestro Equipo</h2>
			<div class="half column first">
				<div class="team_element">
					<img src="/static/media/team/daniela.jpg" alt="Daniela Sepúlveda Ruiz" /><div class="team_text"><h3>Daniela Sepúlveda Ruíz</h3>
							<p>Fundadora y Presidenta de la Mesa Directiva</p>
							<a href="mailto:dsepulveda@fqt.org.mx"><span><em>dsepulveda</em>@fqt.org.mx</span></a>
						</div>
				</div>

				<div class="team_element">
					<img src="/static/media/team/equipo-daniel-sepulveda-ruiz.jpg" alt="Daniel Sepúlveda Ruíz"/><div class="team_text"><h3>Daniel Sepúlveda Ruíz</h3>
							<p>Vinculación Institucional</p>
							<a href="mailto:contacto@fqt.org.mx"><span><em>contacto</em>@fqt.org.mx</span></a>
						</div>
				</div>

				<div class="team_element">
					<img src="/static/media/team/equipo-carlos-abel-sepulveda-alvarez.jpg" alt="Carlos Abel Sepúlveda Álvarez" /><div class="team_text">
						<h3>Carlos Abel Sepúlveda Álvarez</h3>
						<p>Investigación</p>
						<a href="mailto:mcinvestigacion@fqt.org.mx"><span><em>mcinvestigacion</em>@fqt.org.mx</span></a>
					</div>
				</div>
			</div><div class="half column">
				<div class="team_element">
					<img src="/static/media/team/equipo-eva-viviana-perez-juarez.jpg" alt="Eva Viviana Pérez Juárez" /><div class="team_text"><h3>Eva Viviana Pérez Juárez</h3>
							<p>Dirección Operativa</p>
							<a href="mailto:direccion@fqt.org.mx"><span><em>direccion</em>@fqt.org.mx</span></a>
						</div>
				</div>

				<div class="team_element">
					<img src="/static/media/team/default-user.png" alt="" /><div class="team_text"><h3>&nbsp;</h3>
							<p>Talleres</p>
							<a href="mailto:talleres@fqt.org.mx"><span><em>talleres</em>@fqt.org.mx</span></a>
						</div>
				</div>

				<div class="team_element">
					<img src="/static/media/team/equipo-yadira-jane-martinez-martinez.jpg" alt="Yadira Janet Martínez Martínez" /><div class="team_text">
							<h3>Yadira Janet Martínez Martínez</h3>
							<p>Investigación</p>
							<a href="mailto:mcinvestigacion@fqt.org.mx"><span><em>mcinvestigacion</em>@fqt.org.mx</span></a>
						</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
