#block_programas
	background: #423427 url(../media/background_texture_dark_bck.png) repeat
	color: #ffffff
	font-size: 14px
	margin: 0 0 -10px
	
	em
		color: #e3dc1a
		font-style: normal
	
	.pattern
		background: url(../media/three_pattern.png) right 7px no-repeat
		margin: 0 -110px 0 0
		
	h2
		border-bottom: 1px dashed #e2dc1a
		color: #e3dc1a
		font-size: 41px
		margin: 0 0 10px
		padding: 30px 0 2px
		width: 434px
	
	.big_paragraph
		font-size: 140%
		letter-spacing: .03em

	.yellow_list
	
		span
			color: #ffffff
		
	h3
		color: #e3dc1a
		margin-top: 10px
		text-transform: none
		
	p
		line-height: 1.3em

#laboratorio_vivo
	padding: 0  0 100px
	
#slideshow_reciclases, #slideshow_reciclases_jardin, #slideshow_proyecto_semilla
	padding: 15px 0 0
	
.programas
	
	.three_fourth.first
		width: 54%
	
	h1
		background: url(../media/pleca_header.png) left top no-repeat
		color: #5f8424
		height: 25px
		margin: 0 0 5px -80px
		padding: 10px 110px 25px 95px
		width: 300px
	
	#first_content_block
		background: url(../media/background_programas_ground.jpg) bottom repeat-x
		height: 605px
		position: relative
		min-width: 952px
		
		p
			margin: 15px 0 30px
			width: 415px
		
		ul
			list-style-type: none
			margin: 0
			padding: 0
			
			li
				border-bottom: 1px dashed #808080
				font-size: 17px
				height: 25px
				letter-spacing: .03em
				margin: 0 0 5px
		
			a
				background: url(../media/sprite_programa.png) right -69px no-repeat
				color: #ffffff
				display: block
				font-family: montserrat_bold, Verdana, sans-serif
				height: 100%
				padding: 0 30px 0 0
				
				&:hover
					background-position: right top
					color: #6a9129
			
		.container
			position: relative
			z-index: 50

	#background_tree
		background: url(../media/background_programas_naturaleza.png) center 10px no-repeat
		bottom: 70px
		display: block
		height: 100%
		left: 0
		position: absolute
		width: 100%
	
		
	#content
		background: transparent
	
	a.button
		background: #e2dc1a
		@include border-radius()
		@include box-shadow(#2c231a 2px 2px 5px) 
		color: #3d3124
		display: inline-block
		font: 18px montserrat_bold, Verdana, sans-serif
		letter-spacing: .03em
		margin: 0 0 0 20px
		padding: 10px 25px
		text-transform: uppercase
		
		&:hover
			background: lighten(#e2dc1a, 15)
	