<div class="container">
	<ul>
		<li>
			<ul>
				<li class="yellow padded">
					<a href="/inicio" title="Inicio">Inicio</a>
				</li>
				<li class="yellow spotted padded">
					<a href="/nosotros" title="Nosotros">Nosotros</a>
				</li>
				<li>
					<a href="/nosotros/mision" title="Misión">Misión</a>
				</li>
				<li>
					<a href="/nosotros/vision" title="Visión">Visión</a>
				</li>
				<li>
					<a href="/nosotros/objetivos" title="Objetivos">Objetivos</a>
				</li>
				<li class=" spotted padded">
					<a href="/nosotros/valores" title="Valores">Valores</a>
				</li>
				<li class="yellow">
					<a href="/nosotros/nuestro-equipo" title="Nuestro Equipo">Nuestro Equipo</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="yellow spotted padded">
					<a href="/programas" title="Programas">Programas</a>
				<li>		
				{% for row in footer_menu.programs %}
				<li>
					<a href="/programas/{{row.title|slugify}}" title="{{row.title}}">{{row.title}}</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				<li class="yellow spotted padded">
					<a href="/ecotips" title="Ecocápsulas">Ecocápsulas</a>
				</li>
				<li>
					<a href="/ecotips" title="ecotips">Ecotips</a>
				</li>
				<li>
					<a href="/ecotips/ecocapsulas" title="ecocapsulas">Ecocapsulas</a>
				</li>
				<li class="yellow spotted padded extra_top_margin">
					<a href="/transparencia" title="Transparencia">Transparencia</a>
				</li>
				<li>
					<a href="/transparencia/infografias" title="Infografías">Infografías</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="yellow spotted padded">
					<a href="/talleristas" title="Talleristas">Talleristas</a>
				</li>
				<li>
					<a href="/talleristas/descargables" title="Descargables">Descargables para talleristas</a>
				</li>
				<li>
					<a href="/talleristas/quieres_ser_voluntario" title="¿Quiéres ser voluntario?">¿Quiéres ser voluntario?</a>
				</li>
			</ul>
			<ul>
				<li class="yellow spotted padded extra_top_margin">
					<a href="/campanas_donantes" title="Campañas y donantes">Campañas y donantes</a>
				</li>
				<li>
					<a href="/campanas_donantes/campanas" title="Campañas y donantes">Campañas</a>
				</li>
				<li>
					<a href="/campanas_donantes/donativos" title="Tipos de donativos">Donativos</a>
				</li>
				<li>
					<a href="/campanas_donantes/inversionistas-sociales" title="Inversiones sociales">Inversiones sociales</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="yellow spotted padded">
					<a href="/inversiones_sociales/donativos" title="Tipos de donativos">Tipos de Donativos</a>
				</li>
				<li>
					<a href="/inversiones_sociales/ecoproducciones" title="Eco producciones">Eco producciones</a>
				</li>
				<li>
					<a href="/inversiones_sociales/proyecto-semilla" title="Proyecto semilla">Proyecto semilla</a>
				</li>
				<li>
					<a href="/inversiones_sociales/beca-tallerista" title="Beca a un tallerista">Beca a un tallerista</a>
				</li>
				<li>
					<a href="/inversiones_sociales/reciclases-jardin" title="Reciclases en tu jardín">Reciclases en tu jardín</a>
				</li>
			</ul>
		</li>
	</ul>
	<div class="social_icons">
		<a class="twitter" href="https://twitter.com/search/fqtransforma" title="fqtransforma" target="_blank"></a>
		<a class="facebook" href="https://www.facebook.com/FQTransforma" title="FQTransforma" target="_blank"></a>
		<a class="blogger" href="http://fqtransforma.blogspot.com.es/" title="fqtransforma" target="_blank"></a>
	</div>
	<ul>
		<li class="wide">
			<ul>
				<li class="yellow spotted padded">
					Ubicación
				</li>
				<li>
					Niños Héroes 1024 · Zona Centro, Tij., B. C., C. P. 22000
					<span class="yellow">Teléfono:</span> 685-4342
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="yellow spotted padded">
					<a href="/inversiones_sociales/campanas" title="Campañas">Campañas</a>
				</li>
				<li>
					<a href="/inversiones_sociales/toner" title="Tu toner transforma escuelas">Tu toner transforma escuelas</a>
				</li>
				<li>
					<a href="/inversiones_sociales/reciempresa" title="Reciempresa">Reciempresa</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="yellow spotted padded">
					<a href="/contacto" title="Contacto">Contacto</a>
				</li>
				<li>
					<a href="/contacto/directorio" title="Directorio">Directorio</a>
				</li>
				<li>
					<a href="/contacto/forma_contacto" title="Forma de contacto">Forma de contacto</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div id="poweredby">
	Powered by <a href="http://www.thinkcorporativo.com" title="Think Corporativo" target="_blank">THINK CORPORATIVO</a> y <a href="http://www.mintitmedia.com" title="Mint IT Media" target="_blank">MINT IT MEDIA</a>
</div>