<div class="container">
	<ul class="menu">
		<li><a href="/inicio" title="Inicio"><span>Inicio</span></a></li><li><a href="/nosotros" title="Nosotros"><span>Nosotros</span></a></li><li><a href="/programas" title="Programas"><span>Programas</span></a></li><li><a href="/ecotips" title="Ecotips"><span>Ecotips</span></a></li><li><a href="/transparencia" title="Transparencia"><span>Transparencia</span></a></li><li><a href="/talleristas" title="Talleristas"><span>Talleristas</span></a></li><li><a href="/inversiones_sociales" title="Inversiones Sociales"><span>Inversiones Sociales</span></a></li><li><a href="contacto" title="Contacto"><span>Contacto</span></a></li>
	</div>
</ul>