 {% extends "layout/base.html" %}

{% block site_wrapper %}
	<div class="container">
		<h1>Contáctanos</h1>
		
		<div class="half column first">
			<p>Para cualquier duda o comentario, ponte en contacto con nosotros.</p>
		</div><div class="half column"></div>
		<div class="half column first">
			<hr>
			<form method="post" action="#" id="forma_contacto">
				<label>Nombre <span></span></label><input type="text" id="name" name="name" lang="es" class="custom_textbox required" />
				<label>Email <span></span></label><input type="email" id="email" name="email" lang="es" class="custom_textbox required" />
				<label>Comentario <span></span></label><textarea id="mensaje" name="mensaje"></textarea>
				<input type="submit"  class="custom_submit" value="Enviar" />
				
				<p id="message">Tu mensaje ha sido enviado. Nos contactaremos a la brevedad</p>
			</form>
			<br><br><br>
			<p><strong>Dirección</strong> Niños Héroes #1024  Zona Centro, Tijuana B.C.,C.P. 22000</p>
			<p><strong>Teléfono</strong> 6854342</p>
			
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?q=zona+centro+calle+ni%C3%B1os+sexta&amp;hl=es-419&amp;ie=UTF8&amp;sll=32.530632,-117.04234&amp;sspn=0.001857,0.003921&amp;hq=sexta&amp;hnear=Av+Ni%C3%B1os+Heroes,+Baja+California&amp;t=m&amp;ll=32.530037,-117.039553&amp;spn=0.000005,0.003921&amp;output=embed"></iframe>
			<p id="big_map"><a href="https://maps.google.com.mx/maps?q=zona+centro+calle+ni%C3%B1os+sexta&amp;hl=es-419&amp;ie=UTF8&amp;sll=32.530632,-117.04234&amp;sspn=0.001857,0.003921&amp;hq=sexta&amp;hnear=Av+Ni%C3%B1os+Heroes,+Baja+California&amp;t=m&amp;ll=32.530037,-117.039553&amp;spn=0.000005,0.003921&amp;source=embed" target="_blank">Ver mapa más grande</a></p>
		</div><div class="half column">
			<hr>
			<h2><span>Dirección</span></h2>
			<ul id="directorio">
				<li><strong>Daniela Sepúlveda Ruíz</strong>
					Fundadora y Presidenta de la Mesa Directiva
					<a href="mailto:comunicacion@fqt.org.mx" title="Enviar un correo al departamento de Comunicación" class="email">comunicacion@fqt.org.mx</a>
				</li>
				<li><strong>Edilia Peña Huerta</strong>
					Dirección Operativa
					<a href="mailto:direccion@fqt.org.mx" title="Enviar un correo al departamento de Dirección" class="email">direccion@fqt.org.mx</a>
				</li>
				<li><strong>Mariana Santana Vidrio</strong>
					Comunicación
					<a href="mailto:comunicacion@fqt.org.mx" title="Enviar un correo al departamento de Comunicación" class="email">comunicacion@fqt.org.mx</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
