 {% extends "layout/base.html" %}

{% block site_wrapper %}
	<div class="container">
		<h1>Contáctanos</h1>
		
		<div class="half column first">
			<p>Para cualquier duda o comentario, ponte en contacto con nosotros.</p>
		</div><div class="half column"></div>
		<div class="half column first">
			<hr>
			<form method="post" action="#" id="form_contact">
				{% csrf_token %}
				<label>Nombre <span></span></label><input type="text" id="name" name="name" lang="es" class="custom_textbox required" />
				<label>Email <span></span></label><input type="email" id="email" name="email" lang="es" class="custom_textbox required" />
				<label>Comentario <span></span></label><textarea id="message" name="message" class="required"></textarea>
				<input type="submit"  class="custom_submit" value="Enviar" />
				
				<p id="msg"></p>
			</form>
			<br><br><br>
			<p><strong>Dirección</strong> 
			Vía De La Juventud Oriente #8800, local 2533<br /> 
			Zona Urbana Río<br/> 
			Tijuana, Baja California<br />
			CP. 22010</p>
			<p><strong>Teléfono</strong> +52 (664) 607 3581</p>
			<div id="gmap"></div>			
		</div><div class="half column">
			<hr>
			<h2><span>Directorio</span></h2>
			<ul id="directorio">
				<li><strong>Daniela Sepúlveda Ruíz</strong>
					Fundadora y Presidenta de la Mesa Directiva
					<a href="mailto:dsepulveda@fqt.org.mx" title="Enviar un correo al departamento de Comunicación" class="email">dsepulveda@fqt.org.mx</a>
				</li>
				<li><strong>Mariana Santana Vidrio</strong>
					Dirección Operativa
					<a href="mailto:direccion@fqt.org.mx" title="Enviar un correo al departamento de Dirección" class="email">direccion@fqt.org.mx</a>
				</li>
				<li><strong>Blanca Quiriarte</strong>
					Comunicación
					<a href="mailto:comunicacion@fqt.org.mx" title="Enviar un correo al departamento de Comunicación" class="email">comunicacion@fqt.org.mx</a>
				</li>
				<li><strong>Andrea Pérez</strong>
					Talleres
					<a href="mailto:talleres@fqt.org.mx" title="Enviar un correo tallers" class="email">talleres@fqt.org.mx</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
