 {% extends "layout/base.html" %}

{% block site_wrapper %}
	<div id="first_content_block"> 
		<div id="ecotips_area" class="container">
			<h1>Ecotips</h1>
			<div class="fourth column first collapse">
				<ul id="ecotips_list">
					<li id="tips_plastico" class="first"><a href="/ecotips/bolsas_de_plastico" title="Impacto de las bolsas de plástico">Impacto de las bolsas de plástico</a></li><li id="tips_grifo"><a href="/ecotips/cierra_el_grifo" title="Cierra el grifo de agua">Cierra el grifo de agua</a></li><li id="tips_desconecta"><a href="/ecotips/desconecta_los_aparatos" title="Desconecta los aparatos electrónicos">Desconecta los aparatos electrónicos</a></li><li id="tips_mascotas"><a href="/ecotips/lleva_bolsas_biodegradables" title="Lleva bolsas biodegradables al pasear a tu mascota">Lleva bolsas biodegradables al pasear a tu mascota</a></li>
					<li id="tips_bicicleta" class="first"><a href="/ecotips/usa_la_bicicleta" title="Usa la bicicleta">Usa la bicicleta</a></li><li id="tips_auto"><a href="/ecotips/no_uses_auto" title="No uses automóvil en distancias cortas">No uses automóvil en distancias cortas</a></li><li id="tips_papel"><a href="/ecotips/recicla_el_papel" title="Recicla el papel">Recicla el papel</a></li><li id="tips_composta"><a href="/ecotips/crea_composta" title="Crea composta con tus deshechos">Crea composta con tus deshechos</a></li>
				</ul>
			</div><div class="three_fourth column">
				<ul id="ecotips_slider">
					<li id="tips_plastico_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p>Las bolsas de plástico ocupan el <strong>segundo 
							lugar de basura en los océanos</strong> usa bolsas 
							ecológicas.</p>
						</div>
					</li>	
					<li id="tips_grifo_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p>Cierra bien el grifo de agua, ¡un grifo tirando 
							una gota por segundo, desperdicia <strong>30 litros 
							de agua</strong> por día!</p>
						</div>
					</li>	
					<li id="tips_desconecta_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p><strong>Desconecta todos los aparatos electrónicos</strong> 
							que no estés utilizando, ¡no alimentes a los 
							vampiros ecológicos!</p>
						</div>
					</li>	
					<li id="tips_mascotas_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p>Cuando saques a pasear a tu mascota, lleva 
							<strong>bolsas biodegradables</strong> para que juntes 
							sus heces.</p>
						</div>
					</li>	
					<li id="tips_bicicleta_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p>Un viaje en bicicleta de 6.5 km <strong>ayuda a mantener libres 
							7 kg de gases contaminantes el aire que respiramos</strong>, 
							además disminuye el estrés, la posibilidad sufrir un 
							infarto y hasta los síntomas de depresión! ¡A pedalear!</p>
						</div>
					</li>	
					<li id="tips_auto_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p>En distancias cortas no utilices el auto, 
							<strong>¡no generes CO2 causante del cambio 
							climático!</strong></p>
						</div>
					</li>	
					<li id="tips_papel_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p>¡Al <strong>reciclar una tonelada de papel</strong>, estás 
							salvando aproximadamente 20 árboles!</p>
						</div>
					</li>	
					<li id="tips_composta_sld" class="ecotip_wrapper">
						<div class="ecotips_image"></div>
						<div class="ecotips_dialogue">
							<p>Utiliza las servilletas de papel, bolsas de té, 
							cartones de huevo, corchos de vino para 
							hacer composta y cuidar tus plantas.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="background_beach">	
		</div>
	</div>
	<div id="ecocapsulas">
		<div class="container">
			<div class="half column first no_padding_bottom">
				<h2>Ecocápsulas</h2>
			</div><div class="half column no_padding_bottom">
				<!--<ul class="pagination">
					<li class="current"><a href="/ecocapsulas/1" title="Ecocápsulas página 1"><span>1</span> .</a></li><li><a href="/ecocapsulas/2" title="Ecocápsulas página 2"><span>2</span> .</a></li><li><a href="/ecocapsulas/3" title="Ecocápsulas página 3"><span>3</span> .</a></li><li><a href="/ecocapsulas/4" title="Ecocápsulas página 4"><span>4</span> .</a></li><li><a href="/ecocapsulas/5" title="Ecocápsulas página 5"><span>5</span> .</a></li><li><a href="/ecocapsulas/6" title="Ecocápsulas página 6"><span>6</span> .</a></li><li><a href="/ecocapsulas/mas" title="Ecocápsulas más páginas">...</a></li>
				</ul>-->
			</div>
			<div class="half column first">
				<h3>Consejos prácticos que <br />
				transforman tu vida</h3>
				<p class="white_text">Las <strong>Eco Cápsulas de cultura y educación ambiental</strong> son un recurso que permite divulgar información pertinente sobre hábitos de conducta que pueden ser fomentados desde casa. </p>
				<p class="white_text">A la par, permite reforzar los conocimientos adquiridos durante las actividades de reciclases y los talleres de cultura y educación ambiental que se realizan en las escuelas públicas. Consideran a la comunidad con discapacidad auditiva, incorporando una niña o niño signante.</p>
			</div><div class="half column">
				<p id="consulta_series">Consulta las diferentes series:</p>
				<ul id="temporadas_series">
					{% for row in categories %}<li class="{% if row.cat_class|length %}{{row.cat_class}}{% endif %}"><a href="/ecotips/ecocapsulas/{{row.slug}}" title="{{row.name}}">{{row.name}}</a></li>{% endfor %}
				</ul>
			</div>
			<ul id="lista_ecocapsulas">{% for row in ecocapsulas %}<li class="{% if forloop.first %}first{% elif forloop.counter0|divisibleby:'4' %}first{% elif forloop.last %}last{% endif %}"><a href="{{row.source}}" title="{{row.title}}" class="eco_fancybox"><img src="http://img.youtube.com/vi/{{row.video_id}}/0.jpg" alt="{{row.title}}" width="214px"/></a><h4><a href="{{row.source}}" title="{{row.title}}" class="eco_fancybox">{{row.title}}</a></h4></li>{% endfor %}
			</ul>
			<!--
			<ul class="pagination">
				<li class="current"><a href="/ecocapsulas/1" title="Ecocápsulas página 1"><span>1</span> .</a></li><li><a href="/ecocapsulas/2" title="Ecocápsulas página 2"><span>2</span> .</a></li><li><a href="/ecocapsulas/3" title="Ecocápsulas página 3"><span>3</span> .</a></li><li><a href="/ecocapsulas/4" title="Ecocápsulas página 4"><span>4</span> .</a></li><li><a href="/ecocapsulas/5" title="Ecocápsulas página 5"><span>5</span> .</a></li><li><a href="/ecocapsulas/6" title="Ecocápsulas página 6"><span>6</span> .</a></li><li><a href="/ecocapsulas/mas" title="Ecocápsulas más páginas">...</a></li>
			</ul>
			-->
		</div>
	</div>
{% endblock %}
