 {% extends "layout/base.html" %}

{% block site_wrapper %}
<div id="personaje">
</div>
<div id="first">
	<div class="bg"></div>
	<div class="bg2"></div>
	<div class="bg25"></div>
	<div class="bg3"></div>
	<div class="bg4"></div>
	<div class="bg5"></div>
	<div class="bg6"></div>
	<div class="bgt"></div>
	<div class="container">
		<div class="inicio_info nosotros">
			<h1>Nosotros</h1>
			<p>Promovemos la participación ciudadana en temas de conservación del medio ambiente, desde una perspectiva de cultura urbana, con el objetivo de contribuir al desarrollo sustentable de Tijuana, B.C. México<br>
				<span><a href="/nosotros" title="Nosotros"></a></span>
			</p>
		</div>
	</div>
	<div class="container centered">
		<div class="inicio_info programa">
			<h1>Programas</h1>
			<p>Programas formativos que promueven y fomentan una cultura urbana proactiva enfocada al medio ambiente a través de talleres. <br>
				<span><a href="/programas" title="Programas"></a></span>
			</p>
		</div>
	</div>
</div>
<div id="second">
	<div class="bg"></div>
	<div class="bg2"></div>
	<div class="bg3"></div>
	<div class="bg4"></div>
	<div class="bg5"></div>
	<div class="bg6"></div>
	<div class="bg7"></div>
	<div class="bgt"></div>
	<div class="container">
		<div class="inicio_info ecotips_home">
			<h1>Ecotips / Ecocápsulas</h1>
			<p>Somos un recurso que permite divulgar información pertinente sobre hábitos de conducta que pueden ser fomentados desde casa.<br>
				<span><a href="/ecotips" title="Ecotips"></a></span>
			</p>
		</div>
	</div>
</div>
<div id="third">
	<div class="bg7"></div>
	<!--<div class="bg"></div>-->
	<div class="bg2"></div>
	<div class="bg3"></div>
	<div class="bg5"></div>
	<div class="bg6"></div>
	<div class="bg_sand_pattern"></div>
	<div class="bgt"></div>
	<div class="container centered">
		<div class="inicio_info inversiones_inicio">
			<h1>Campañas y donantes</h1>
			<p>Conozca las formas en las que puede contribuir al cuidado ambiental a través de Fundación Que Transforma.<br>
				<span><a href="/campanas_donantes" title="Campañas y donantes"></a></span>
			</p>
		</div>
	</div>
</div>
<div id="home_scrollbox">
	<a class="nosotros_scroll"><div class="open">Nosotros</div></a>
	<a class="programas_scroll"><div class="open">Programas</div></a>
	<a class="ecotips_scroll"><div class="open">Ecotips</div></a>
	<a class="transparencia_scroll"><div class="open">Transparencia</div></a>
</div>
{% endblock %}
