 {% extends "layout/base.html" %}

{% block site_wrapper %}
	<div class="container">
		<h1>Inversiones Sociales</h1>
		<h2>Campañas</h2>
	</div>
	<div id="aqua_background">
			<div  class="container">
			<div class="half column first">
				<h3>Tu tóner <span class="small_text">transforma escuelas</span></h3>
				<p>Tu tóner transforma escuelas, ¡Dónalos!</p>

				<p>Fundación Que Transforma, en alianza con la empresa Baja Sky S.A. de C.V., anunciaron de manera oficial el arranque de la campaña “Tu tóner transforma escuelas, ¡Dónalo!” en el mes de julio del 2012.</p>

				<p>El objetivo de la campaña es invitar a empresas, maquiladoras, instituciones y población en general a realiza una correcta disposición de los cartuchos de tinta y tóner.</p>

				<p>Los recursos obtenidos del reciclaje serán destinados a la operación de los programas activos de Fundación Que Transforma, con el fin de seguir realizando actividades que promuevan y fomenten una cultura urbana proactiva, enfocada al medio ambiente, de forma lúdica en escuelas públicas y casas hogar.</p>
				<br /><br /><br /><br /><br />
				<img src="static/media/inversionistas_soc/toner.jpg" alt="Tu tóner transforma escuelas" />
			
				<h4>Procedimiento</h4>
				<p>Una vez que los cartuchos estén vacíos y listos para remplazarse por unos nuevos, estos no deberán depositarse en el contenedor de basura, por el contrario, deberán ser separados y conservados. </p>
				<h4>¿Y Después?</h4>
				<p>Para empresas, maquiladoras, instituciones: Fundación Que Transforma programará, con la empresa participante, una fecha de recolección.</p> 

				<p>Se les entregará un recibo que avale el donativo y posteriormente un manifiesto, proporcionado por Baja Sky S.A. de C.V., empresa autorizada por el gobierno del estado a disponer correctamente de los residuos, que garantiza la correcta disposición de los residuos. El Registro Estatal es: PS-TIJ-059/11.</p>

				<p>Para población en general: Deberán acudir a depositar los residuos a uno de los centros de acopio colocados en diferentes puntos de la ciudad de Tijuana.</p>
			</div><div class="half column">
				<h4 id="title_count">¡¡Forma parte de la campaña!!</h4>
				<div id="toner_count">
					<p><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span></p>
				</div>
				<hr />
				<h4 class="beneficios">Beneficios</h4>
				<div class="benefit_wrapper">
					<ul class="dashed_bullet">
						<li>Reconoceremos tu compromiso con el medio ambiente incorporando tú logotipo o nombre en nuestra página de internet como empresa registrada en la campaña.</li>
						<li>Publicaremos una nota informativa en redes sociales de Fundación Que Transforma.</li>
					</ul>
				</div>
				<h4>Ubicaciones</h4>	
				<ol>
					<li> Fundación Que Transforma: Zona Centro, Calle Niños Héroes, entre calle 6ta y 7ma #1024 Teléfono: 685 4342</li>
					<li>Baja Sky: Zona Otay, Blvd. Industrial 7-A Colonia Fovisssste 1 C.P. 22510 Teléfono: 623 8888</li>
					<li>El Trompo Museo Interactivo: Lib. Los Insurgentes SN Río Tijuana, 3era Etapa Baja California, 22226</li>
					<li> Agencia Mercallianz, S.C.: Blvd. Sánchez Taboada 10488 703 Col. Zona Urbana Río Tijuana 22010 Tijuana Baja California</li>
				</ol>
			</div>
			<h3 id="empresas_participantes" class="sideoverflow">Empresas Participantes</h3>
			<div id="slider_empresas" class="slider_inversiones">
				<ul>
					<li id="em_industrias_electricas">
						<a href="#" title="AG Industrias eléctricas">AG Industrias eléctricas</a></li><li id="em_victory_enterprises">
						<a href="#" title="Victory Enterprises">Victory Enterprises</a></li><li id="em_wtc">
						<a href="#" title="World Trade Center Tijuana">World Trade Center Tijuana</a></li><li id="em_galber">
						<a href="#" title="Galber">Galber</a></li><li id="em_aim">
						<a href="#" title="AIM">AIM</a></li><li id="em_aba">
						<a href="#" title="ABA Seguros">ABA Seguros</a></li><li id="em_amex_upholstery">
						<a href="#" title="Amex Upholstery">Amex Upholstery</a></li><li id="em_arris">
						<a href="#" title="ARRIS">ARRIS</a></li><li id="em_autosplice">
						<a href="#" title="Autosplice">Autosplice</a></li><li id="em_cafe_pedrin">
						<a href="#" title="Café Pedrín">Café Pedrín</a></li><li id="em_caramelos">
						<a href="#" title="Caramelos">Caramelos</a></li><li id="em_clayton">
						<a href="#" title="Clayton Maquiladora">Clayton Maquiladora</a></li><li id="em_conalep">
						<a href="#" title="Conalep Baja California">Conalep Baja California</a></li><li id="em_cdt">
						<a href="#" title="Consejo de Desarrollo Económico de Tijuana">Consejo de Desarrollo Económico de Tijuana</a>
					</li>
				</ul>
				<div class="slider_texture"></div>
				<a href="anterior" title="Anterior" class="prev">Anterior</a>
				<a href="siguiente" title="Siguiente" class="next">Siguiente</a>
			</div>
		
			<h3 class="half column first no_padding_bottom">Reciempresa</h3><div class="half column no_padding_bottom"></div>
			<div class="half column first">
				<p>Se invita a las empresas a ser socialmente responsables con el medio ambiente y conscientes, de una forma sencilla, apoyando con la donación de desechos sólidos no tóxicos que pueden ser reutilizados y/o reciclados.  Estos pueden ser: residuos de papelería, plástico, aluminio, cartón, etc. Los recursos obtenidos con esta actividad se destinan a fortalecer los programas operados por Fundación Que Transforma.</p>
			</div><div class="half column">	
				<h4 class="beneficios  negative_margin_top">Beneficios</h4>
				<div class="benefit_wrapper">
					<p>Reconoceremos tu compromiso con el medio ambiente incorporando tú logotipo o nombre en nuestra página de internet como empresa registrada en la campaña.</p>
					<ul class="dashed_bullet">
						<li>Publicaremos una nota informativa en redes sociales de Fundación Que Transforma.</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="underwater_nature"></div>
	</div>
	
	<div class="light_gray">
		<div class="container">
			<h2>Donativos</h2>
			<p class="slogan">Programas de Responsabilidad Social Corporativa</p>
			
			<div class="half column first">
				<h3>Eco <br/> Producciones</h3>
				<p>Producción de material didáctico audiovisual. Estas producciones tienen  como objetivo la difusión  de contenidos informativos y educativos  de primer nivel siendo incluyentes con la población con discapacidad auditiva. </p>
			
				<h4 class="beneficios ">Beneficios</h4>
				<div class="benefit_wrapper">
					<ul class="dashed_bullet">
						<li>Tu apoyo será reconocido dentro de los créditos de estas cápsulas, mismas que serán vistas por los más de 15,000 niños atendidos en Tijuana, Mexicali y Ensenada anualmente y publicadas en el canal de youtube con acceso libre.</li>
						<li>Pondremos tu logo en la página de Fundación Que Transforma como una empresa comprometida con la educación ambiental y la cultura urbana.
						</li>
					</ul>
				</div>
				<h4 class="aportacion ">Aportación</h4>
				<div class="benefit_wrapper">
					<p class="strong_big_paragraph">$4,000 pesos por escuela (25 árboles)</p>
				</div>
			</div><div class="half column">
				<h3>Reciclases en <br/> tu jardín</h3>
				<p>Dona árboles de sombra o frutales a una escuela o casa hogar.  Tu aportación  llevaremos a una escuela árboles, tierra y fertilizante. Con tu apoyo niños y jóvenes vivirán la experiencia de plantar y cuidar el árbol que les proveerá de  sombra y fruto.  Mejorarás su entorno  y su  alimentación.    </p>
				
			
				<h4 class="beneficios ">Beneficios</h4>
				<div class="benefit_wrapper">
					<ul class="dashed_bullet">
						<li>Reconoceremos tu compromiso con los jóvenes y la educación incorporando tú logotipo o nombre en nuestro apartado de donantes.</li>
						<li>Publicaremos una nota informativa en redes sociales de Fundación Que Transforma.</li>
					</ul>
				</div>
				<h4 class="aportacion ">Aportación</h4>
				<div class="benefit_wrapper">
					<p class="strong_big_paragraph">$4,000 pesos por escuela (25 árboles)</p>
				</div>
			</div>
			<br />
			<div class="half column first">
				<h3>Proyecto <br/> Semilla</h3>
				<p>Ayúdanos a transformar una escuela o casa hogar. Proyecto semilla es un programa integral que  promueve una cultura urbana proactiva en niños y jóvenes a través de una curricula educativa que contiene talleres de medio ambiente, realización de huerto, composta, forestaciones y creación de bancos de semillas.</p>
			
				<h4 class="beneficios">Beneficios</h4>
				<div class="benefit_wrapper">
					<ul class="dashed_bullet">
						<li>En reconocimiento por tu compromiso con la sociedad incorporando tu logotipo o nombre en nuestro apartado de donantes.</li>
						<li>Pondremos tu logo o nombre en el uniforme del tallerista, con la leyenda: “Gracias al donativo de (NOMBRE DE LA EMPRESA O PERSONA) seguimos formando Ciudadanos Conscientes”.</li>
						<li>Haremos una presentación formal en rueda de prensa o boletín.</li>
						<li> Publicaremos una nota informativa en redes sociales de Fundación Que Transforma.</li>
					</ul>
				</div>
				<h4 class="aportacion">Aportación</h4>
				<div class="benefit_wrapper">
					<p class="strong_big_paragraph">$3,500 pesos al mes durante 10 meses</p>
				</div>
			</div><div class="half column">
				<h3>Beca a un<br/> Tallerista</h3>
				<p>Tu donativo permitirá otorgar un incentivo económico a un estudiante universitario que realiza sus prácticas profesionales promoviendo una cultura urbana proactiva en escuelas, centros comunitarios o en casas hogar, además podremos proveerle del uniforme que lo identificará como parte de Fundación Que Transforma.</p>
				<h4 class="beneficios">Beneficios</h4>
				<div class="benefit_wrapper">
					<ul class="dashed_bullet">
						<li>Reconoceremos tu compromiso con los jóvenes y la educación incorporando tú logotipo o nombre en nuestro apartado de donantes.</li>
						<li>Pondremos tu logo o nombre en el uniforme del tallerista, con la leyenda: “Gracias al donativo de (NOMBRE DE LA EMPRESA O PERSONA) seguimos formando ciudadanos conscientes”.</li>
						<li>Publicaremos una nota informativa en redes sociales de Fundación Que Transforma.</li>
					</ul>
				</div>
				<h4 class="aportacion">Aportación</h4>
				<div class="benefit_wrapper">
					<p class="strong_big_paragraph">$1,500 pesos mensuales x 6 meses
			 </p>
				</div>
			</div>
			<div id="paypal_wrapper">
				<hr />
				<div>
					<p class="first">Donaciones y apoyos son por medio de: <span class="hidden">Paypal</span></p><p class="second">Para proceder con 
					tu donación ,hacer click 
					en el siguiente botón.</p>
					<div class=" third">
						<a href="donar" title="Quiero donar" class="shadow_button"><span>Quiero Donar</span></a>
					</div>
				</div>
				<hr class="bottom" />
			</div>
		</div>
		<hr class="gradient_line">
	</div>
	<div class="dark_gray">
		<div class="container">
			<h2>Inversionistas sociales</h2>
			
			<h3>Aliados estratégicos</h3>
			<div id="slider_aliados" class="slider_inversiones">
				<ul>
					<li id="al_baja_sky"><a href="#" title="Baja Sky">Baja Sky</a></li><li id="al_us_consulate">
						<a href="#" title="U.S. Consulate General Tijuana">U.S. Consulate General Tijuana</a></li><li id="al_el_trompo">
						<a href="#" title="El trompo">El trompo</a></li><li id="al_fide">
						<a href="#" title="Fideicomiso para el ahorro  de energía eléctrica">Fideicomiso para el ahorro  de energía eléctrica</a></li><li id="al_fundacion_ninez">
						<a href="#" title="Fideicomiso para la protección de la niñez">Fideicomiso para la protección de la niñez</a></li><li id="al_gob_bc">
						<a href="#" title="Gobierno de Baja California">Gobierno de Baja California</a></li><li id="al_telecomunicaciones">
						<a href="#" title="Telecomunicaciones">Telecomunicaciones</a></li><li id="al_simpatt">
						<a href="#" title="Sistema Municipal de Parques Temáticos de Tijuana">Sistema Municipal de Parques Temáticos de Tijuana</a></li><li id="al_cam_helen_keller">
						<a href="#" title="CAM Helen Kéller">CAM Helen Kéller</a></li><li id="al_faltas">
						<a href="#" title="¡Faltas Tú!">¡Faltas Tú!</a>
					</li>
				</ul>
				<div class="slider_texture"></div>
				<a href="anterior" title="Anterior" class="prev">Anterior</a>
				<a href="siguiente" title="Siguiente" class="next">Siguiente</a>
			</div>

			<h3>Universidades</h3>
			<div id="slider_universidades" class="slider_inversiones">
				<ul>
					<li id="uni_cecyt"><a href="#" title="Cecyt">Cecyt</a></li><li id="uni_xochicalco">
						<a href="#" title="Universidad Xochicalco">Universidad Xochicalco</a></li><li id="uni_utt">
						<a href="#" title="Universidad Tecnológica de Tijuana">Universidad Tecnológica de Tijuana</a></li><li id="uni_upn">
						<a href="#" title="Universidad  Pedagógica Nacional">Universidad  Pedagógica Nacional</a></li><li id="uni_ibero">
						<a href="#" title="IBERO">IBERO</a></li><li id="uni_uabc">
						<a href="#" title="UABC">UABC</a></li><li id="uni_unidep">
						<a href="#" title="UNIDEP">UNIDEP</a></li><li id="uni_cut">
						<a href="#" title="Universidad de Tijuana CUT">Universidad de Tijuana CUT</a></li><li id="uni_faltas">
						<a href="#" title="¡Faltas Tú!">¡Faltas Tú!</a>
					</li>
				</ul>
				<div class="slider_texture"></div>
				<a href="anterior" title="Anterior" class="prev">Anterior</a>
				<a href="siguiente" title="Siguiente" class="next">Siguiente</a>
			</div>

			<h3>Inversionistas Sociales</h3>
			<div id="slider_inversionistas" class="slider_inversiones">
				<ul>
					<li id="inv_gob_bc"><a href="#" title="Gobierno de Baja California">Gobierno de Baja California</a></li><li id="inv_papeles_graficos">
						<a href="#" title="Papeles y Gráficos de B.C.">Papeles y Gráficos de B.C.</a></li><li id="inv_faltas">
						<a href="#" title="¡Faltas Tú!">¡Faltas Tú!</a>
					</li>
				</ul>
				<div class="slider_texture"></div>
				<a href="anterior" title="Anterior" class="prev">Anterior</a>
				<a href="siguiente" title="Siguiente" class="next">Siguiente</a>
			</div>

			<h3>Especie</h3>
			<div id="slider_especie" class="slider_inversiones">
				<ul>
					<li id="esp_club_infantil"><a href="#" title="Club Infantil">Club Infantil</a></li><li id="esp_hola_californias">
						<a href="#" title="Hola Californias">Hola Californias</a></li><li id="esp_ecoideas_panasonic">
						<a href="#" title="Eco Ideas Panasonic">Eco Ideas Panasonic</a></li><li id="esp_faltas">
						<a href="#" title="¡Faltas Tú!">¡Faltas Tú!</a>
					</li>
				</ul>
				<div class="slider_texture"></div>
				<a href="anterior" title="Anterior" class="prev">Anterior</a>
				<a href="siguiente" title="Siguiente" class="next">Siguiente</a>
			</div>
		</div>
	</div>
{% endblock %}
