 {% extends "layout/base.html" %}

{% block site_wrapper %}
	<div class="container">
		<h1>Transparencia</h1>
		<div class="half column first">
			<p>En este espacio hacemos público los recursos económicos y en especie que recibimos a partir de convocatorias y donativos. </p>
		</div><div class="half column">
			
		</div>
		
		{% for row in infographic %}
		{% if row.alt|length %}<h2 class="sideoverflow purple_text">{{row.title}}</h2>{% endif %}
		<a href="/media/{{row.big_image}}" title="{{row.title}}" class="transparencia_fancybox">
			<img src="/media/{{row.image}}" alt="{{row.alt}}" id="imagen_proyectos"/>
		</a>
		{% endfor %}
		
	</div>
{% endblock %}
