 {% extends "layout/base.html" %}

{% block site_wrapper %}
	<div class="container">
		<h1>Transparencia</h1>
		<div class="half column first">
			<p>En este espacio hacemos público los recursos económicos y en especie que recibimos a partir de convocatorias y donativos. </p>
		</div><div class="half column">
			
		</div>
		<h2 class="sideoverflow purple_text">Cinco años formando ciudadanos conscientes </h2>
		{% for row in infographic %}
		<a href="/static/media/{{row.image}}" title="Cinco años formando ciudadanos conscientes" id="transparencia_fancybox">
			<img src="/static/media/{{row.image}}" alt="{{row.alt}}" id="imagen_proyectos"/>
		</a>
		{% endfor %}
	</div>
{% endblock %}
